extends layout

block content
    table
        tr
            th Departure From
            th Arrival To
            th Time Departure
            th Time Arrival
        each x, index in arrayTimeDeparture
            tr
                td #{departureFrom}
                td #{arrivalTo}
                td #{arrayTimeDeparture[index]}
                td #{arrayTimeArrival[index]}