extends layoutMain

block content

    div(class="container")
        div(class="center")
            form(action="/zone/createZone", method="post")
                div(class="row")
                    div(class="input-field")
                        input(type="text", placeholder="Zone name", name="zoneName",  class="validate", id="zoneName" required)
                div(class="row")
                    div(class="input-field")
                        input(type="text",placeholder="Station departure", name="departure",  class="validate", id="departure" required)
                div(class="row")
                    div(class="input-field")
                        input(type="text", placeholder="Station terminal",name="arrival",  class="validate", id="arrival", required)
                button(class="btn waves-effect waves-light" type="submit") Submit

                if object !== undefined
                    p= object.lines.length + " lines have been created !"
                        ul
                        each x, index in object.arrivals
                            li= object.arrivals[index] + " ---> " + object.terminals[index]
                            input(type="text" name="index" value=index id="inputInvisible")
                            input(type="submit", value="Create this line")
    else
        p= "object is undefined"
