extends layoutMain

block content

    select
        option(value="1") Utilisateur 1
        option(value="2") Utilisateur 2
        option(value="3") Utilisateur 3
    label Responsable de zone




