extends layoutUser

block content
    div.container.center
        
            button(class="btn waves-effect waves-light", type="button", onclick=`createUser()`) Submit

    script(src="/javascripts/user/createUser.js", type="text/javascript")
