extends layoutMain

block content
    div(class="container")
        br
        h1(class="header center teal-text accent-2") Reservation canceled !
        div(class="row center")
          h5(class="header col s12 light") Your reservation has been deleted, if this action wasn't the one you wanted, please do a new reservation.
        div(class="row center")