extends layoutMain

block content
    div(class="container")
        br
        h1(class="header center teal-text accent-2") #{lang.deleteResCanceled}
        div(class="row center")
          h5(class="header col s12 light") #{lang.deleteResMsg}
        div(class="row center")