extends layoutUser

block content

    div.container
        table(id="bookingsTable" class="responsive-table")
            tr
                th Zone
                th Details
            each x, index in zones
                tr
                    td= x.name
                    td
                        a(type="button", class="btn waves-effect waves-light", onclick=`reservationDetails(${x.id})`) Details
    
    script(src="/javascripts/bookings/getAllBookings.js", type="text/javascript")


        




