extends layoutIndex

block content
  body

  div(id="index-banner" class="parallax-container")
    div(class="section no-pad-bot")
      div(class="container")
        br
        h1(class="header center teal-text text-yellow accent-2") ResaBike
        div(class="row center")
          h5(class="header col s12 light") A new way to travel with your bike
        div(class="row center")
          a(href="#contact" id="contact-button" class="btn waves-effect waves-light teal lighten-1") Contact us
        br
    div(class="parallax")
      img(src="../images/wallpaper-bike1.jpg" alt="Unsplashed background img 1")

  div(class="container" style="padding-top:80px; padding-bottom:80px;")
    h3.center-align= "Check your fucking time ?"
      div.row
        form(class="col s12" action="/book" method="post")
          div.row
            div.input-field.col.s6
              input(type="text", placeholder="From Station", autofocus, name="departureFrom" id="autocomplete-input" class="autocomplete")
            div.input-field.col.s6
              //i.material-icons.prefix phone
              input(type="text", placeholder="To Destination", name="arrivalTo" id="autocomplete-input" class="autocomplete")
              //label(for="icon_telephone") Telephone
            div.input-field.col.s6
              input(type="date" id="datepicker" placeholder="Date" name="dateTravel" class="datepicker")
              br
              input(type="number" id="nbBike" name="nbBike" min="1" max="20" placeholder="Number of Bike(s)")
            div.input-field.col.s6
              button(class="btn waves-effect waves-light" type="submit" name="action") Submit
                i(class="material-icons right") send
  
  div(id="map" class="parallax-container valign-wrapper")
    div.section.no-pad-bot
      div.container
        div.row.center
          h5(class="header col s12 light") WHERE IS THIS FUCKING MAP
    div.parallax
      img(src='../images/wallpaper-hipster.jpg', alt='Unsplashed background img 2')

  div(id="contact" class="container" style="padding-top:80px; padding-bottom:80px;")
    div.section
      div.row
        div.col.s12.center
          h3.center-align= "Contact Us"
          div(class="row")
            div(class="input-field col s6")
              input(id="name_mail" name="name_mail" type="text" class="validate" placeholder="Name")
              br
              input(id="name_email" name="email_mail" type="text" class="validate" placeholder="Email")
              br
              input(id="subject_mail" name="subject_mail" type="text" class="validate" placeholder="Subject")
              br
              textarea(id="message_mail" name="subject_mail" type="text" class="validate" placeholder="Message" style="resize:vertical")
              br
              button(class="btn waves-effect waves-light" type="submit" name="action" style="margin-top:50px") Send Message
                i(class="material-icons right") send

            div(class="input-field col s6")
              i(class="material-icons prefix") phone
              input(id="phone_number" value="+27 481 00 00" class="validate" disabled)
              br
              i(class="material-icons prefix") map
              input(id="" value="We are here ! So fck u" class="validate" disabled)