extends layoutIndex

block content
  body.background-index

  div.container.search-form
    p.big-title.center-align= title
      div.row
        form(class="col s12" action="/book" method="post")
          div.row
            div.input-field.col.s6
              input(type="text", placeholder="From", autofocus, name="departureFrom" id="autocomplete-input" class="autocomplete white-text")
            div.input-field.col.s6
              //i.material-icons.prefix phone
              input(type="text", placeholder="To", name="arrivalTo" id="autocomplete-input" class="autocomplete white-text")
              //label(for="icon_telephone") Telephone
            div.input-field.col.s6
              input(type="date" id="datepicker" placeholder="Date" name="dateTravel" class="datepicker white-text")
            div.input-field.col.s6
              button(class="btn waves-effect waves-light" type="submit" name="action") Submit
                i(class="material-icons right") send