extends layout

block content
  body.background-index

  div(class="text-center search-form")
    h1(class="big-title")= title
    div
      form(action="", method="post")
        input(id="tags" type="text", placeholder="Departure From", autofocus, name="departureFrom")
        br
        input(type="text", placeholder="Arrival To", name="arrivalTo")
        br
        input(type="submit", value="Submit")