extends layoutIndex

block content
  
  //- First Section - Just display logo, etc.
  div(id="index-banner" class="parallax-container")
    div(class="section no-pad-bot")
      div(class="container")
        br
        h1(class="header center teal-text text-yellow accent-2") ResaBike
        div(class="row center")
          h5(class="header col s12 light") A new way to travel with your bike
        div(class="row center")
          a(class="scroll" href="#contact" id="contact-button" class="btn waves-effect waves-light teal lighten-1") Contact us
        br
    div(class="parallax")
      img(src="../images/wallpaper-bike1.jpg" alt="Unsplashed background img 1")

  //- Second Section - SEARCH WITH API !
  div(id="search" class="container" style="padding-top:80px; padding-bottom:80px;")
    h3.center-align= "Timetable and Reservation"
      div.row
        form(class="col s12" action="/book" method="post")
          div.row
            div.input-field.col.s6
              //- NEED TO REMOVE THE VALUES AFTER
              input(type="text" value="Sierre, poste/gare" placeholder="From Station", autofocus, name="departureFrom" id="departureFrom" class="autocomplete" autocomplete="off" required)
            div.input-field.col.s6
              //i.material-icons.prefix phone
              input(type="text" value="Les Pontis" placeholder="To Destination", name="arrivalTo" id="arrivalTo" class="autocomplete" autocomplete="off" required)
              //label(for="icon_telephone") Telephone
            div.input-field.col.s6
              input(type="date" id="datepicker" placeholder="Date" name="dateTravel" class="datepicker" value="2017-11-01" required)
              br
              input(type="number" value="1" id="nbBike" name="nbBike" min="1" max="20" placeholder="Number of Bike(s)")
            div.input-field.col.s6
              button(class="btn waves-effect waves-light" type="submit" name="action") Submit
                i(class="material-icons right") send
  
  //- Third Section - About Us ?
  div(id="aboutus" class="parallax-container valign-wrapper")
    //- div.section.no-pad-bot
    div.container
      h3(class="header center teal-text text-yellow accent-2") About Us
      div(class="row center")
        h5(class="header col s12 light") A group of 2 students working for a School Project.
        br
        h5(class="header col s12 light") The goal of the project is to be able to reserve a place for your bike on a bus.
    div.parallax
      img(src='../images/wallpaper-index-bus1.jpg', alt='Unsplashed background img 2')

  //- Fourth Section - Contact Form
  div(id="contact" class="container" style="padding-top:80px; padding-bottom:80px;")
    div.section
      div.row
        div.col.s12.center
          h3.center-align= "Contact Us"
          div(class="row")
            div(class="input-field col s6")
              form(method="post" action="/sendMail")
                input(id="name_mail" name="name_mail" type="text" class="validate" placeholder="Name" required="" aria-required="true")
                br
                input(id="name_email" name="email_mail" type="text" class="validate" placeholder="Email" required="" aria-required="true")
                br
                input(id="subject_mail" name="subject_mail" type="text" class="validate" placeholder="Subject" required="" aria-required="true")
                br
                textarea(id="message_mail" name="message_mail" type="text" class="validate" placeholder="Message" class="materialize-textarea" required="" aria-required="true")
                br
                button(class="btn waves-effect waves-light" type="submit" name="submit_button" id="submit_button" style="margin-top:50px" disabled="disabled") Send Message
                  i(class="material-icons right") send
                p *You need to fill in every field to be able to send an email

            div(class="input-field col s6")
              i(class="material-icons prefix") phone
              input(id="phone_number" value="+27 481 00 00" class="validate" disabled)
              br
              i(class="material-icons prefix") map
              input(id="" value="Suisse, Valais, Sierre - HES-SO" class="validate" disabled)

  footer(class="page-footer")
    div(class="footer-copyright")
      div(class="container")
        p © 2017 Copyright Kevin Schmidt, Aleksandar Lazic
  
  script(src="javascripts/contactForm.js", type="text/javascript")