extends layoutMain

block content
    //- Putting the CSS here because layoutIndex is loading the main page css but we need to include the navbar that it contains
    style(type="text/css").
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background-image: url(../images/background-login.jpg);
            background-repeat:no-repeat;
            background-position:center center;
            background-attachment: fixed;
            background-size: cover ;
            width: 100%;
            height: auto;
        }

        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63;
        }

        .input-field input[type=text]:focus,
        .input-field input[type=username]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }

    div(class="section")
    main
        center
            div(class="section")

            div(class="container")
                div(class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;")
                    h1(class="header center teal-text accent-2") ResaBike 
                    div(class="row center")
                        h5(class="header col s12 light") FUCK
                        //- #{lang.loginText}
                    
                    //- Add method to login in action
                    div(class='row')
                    div(class='input-field col s12')
                        input(class='validate' type='text' name='username' id='username')
                        label(for='username') USERNAME FUCK
                        //- #{lang.loginUsername}

                    div(class='row')
                    div(class='input-field col s12')
                        input(class='validate' type='password' name='password' id='password')
                        label(for='password') PASSWORD FUCK
                        //- #{lang.loginPassword}
                    br
                    center
                    br
                    div(class='row' style="padding-top: 70px;")
                        button(type='button' onclick="login()" class='col s12 btn waves-effect') LOGIN FUCK
                        //- #{lang.loginButton}

    script(src="/javascripts/login/login.js", type="text/javascript")
