extend layoutIndex

block content

    style(type="text/css").
        body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        }

        main {
        flex: 1 0 auto;
        }

        body {
        background-image: url(../images/background-login.jpg);
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment: fixed;
        background-size: cover ;
        width: 100%;
        height: auto;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
        color: #e91e63;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
        border-bottom: 2px solid #e91e63;
        box-shadow: none;
        }

    div(class="section")
    main
        center
            div(class="section")

            div(class="container")
                div(class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;")
                    h1(class="header center teal-text accent-2") ResaBike 
                    div(class="row center")
                        h5(class="header col s12 light") Please, login to your account

                    form(class="col s12" method="post")

                        div(class='row')
                        div(class='input-field col s12')
                            input(class='validate' type='email' name='email' id='email')
                            label(for='email') Username

                        div(class='row')
                        div(class='input-field col s12')
                            input(class='validate' type='password' name='password' id='password')
                            label(for='password') Password
                        br
                        center
                        br
                        div(class='row' style="padding-top: 70px;")
                            button(type='submit' name='btn_login' class='col s12 btn waves-effect') Login