body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#results{
  display: none;
}

.background-index{
  background-image: url(../images/wallpaper-hipster.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: cover ;
}

.big-title{
  font-size: 100px ;
  font-style: bold;
  color: #FFFFFF;
}

.search-form{
  padding-top:100px ;
  padding-bottom:100px;
  background-color: #000000 ;
  background: rgba(0,0,0,.7);
  margin-left:600px ;
  margin-right:600px;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
}