body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Auto-completation div */
#results{
  display: none;
  background-color: #FFFFFF ;
}

/* Background of index.pug */
.background-index{
  background-image: url(../images/wallpaper-hipster.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: cover ;
}

/* Title of index.pug */
.big-title{
  font-size: 100px ;
  font-style: bold;
  color: #FFFFFF;
}

/* Main Form in index.pug */
.search-form{
  padding-top:100px ;
  padding-bottom:100px;
  background-color: #000000 ;
  background: rgba(0,0,0,.7);
  margin-left:600px ;
  margin-right:600px;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
}

/* Tables CSS for the book.pug */
.table-container{
  
}

.table-booking{
  margin-left:auto ;
  margin-right:auto ;
  width:80% ;
}

th{
  height: 50px ;
}

th, td{
  border-bottom: 1px solid #ddd;
}

