/* #ffff00 yellow accent-2 - Using this color for the entire application */

#inputInvisible{
  display: none;
}

/* Auto-completation div */
#results{
  display: none;
  background-color: #FFFFFF ;
}

/* Background of index.pug */
.background-index{
  background-image: url(../images/wallpaper-bike1.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: cover ;
  width: 100%;
  height: auto;
}

/* Title of index.pug */
.big-title{
  font-size: 70px ;
  font-style: bold;
  color: #FFFF00 ;
}

/* Main Form in index.pug */
.search-form{
  background-color: #000000 ;
  background: rgb(0, 0, 0, .7);
}

/* Tables CSS for the book.pug */
.table-container{
  
}

.table-booking{
  margin-left:auto ;
  margin-right:auto ;
  width:80% ;
}

th{
  height: 50px ;
}

th, td{
  border-bottom: 1px solid #ddd;
}


  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
       